{"openapi":"3.1.0","info":{"title":"Lost Communities","version":"0.0.1","description":"Kansas Lost Communities Project"},"servers":[{"url":"https://verbose-rotary-phone-4j7j6p6v4xxhq6r6-3000.app.github.dev"}],"paths":{"/api/":{"get":{"summary":"list API versions","tags":["api"],"responses":{"200":{"description":"the list of users","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string"},"url":{"type":"string"}}}},"example":[{"version":"1.0","url":"/api/v1/"}]}}}}}},"/auth/bypass":{"get":{"summary":"bypass authentication for testing","description":"Bypasses CAS authentication for testing purposes","tags":["auth"],"parameters":[{"in":"query","name":"token","required":true,"schema":{"type":"string"},"description":"username"}],"responses":{"200":{"description":"success"}}}},"/auth/cas":{"get":{"summary":"CAS authentication","description":"CAS authentication for deployment","tags":["auth"],"responses":{"200":{"description":"success"}}}},"/auth/token":{"get":{"summary":"request JWT","description":"request JWT based on previous authentication","tags":["auth"],"responses":{"200":{"$ref":"#/components/responses/AuthToken"}}}},"/auth/logout":{"get":{"summary":"logout current user","description":"logout current user and end session","tags":["auth"],"responses":{"200":{"description":"success"}}}},"/":{"get":{"summary":"index page","description":"Gets the index page for the application","tags":["index"],"responses":{"200":{"description":"success"}}}},"/api/v1/communities":{"get":{"summary":"communities list page","description":"Gets the list of all communities in the application","tags":["communities"],"security":[{"bearerAuth":["view_communities","manage_communities","add_communitiies"]}],"responses":{"200":{"description":"the list of communities","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Community"}}}}}}},"post":{"summary":"create community","tags":["communities"],"security":[{"bearerAuth":["manage_communities","add_communitiies"]}],"requestBody":{"description":"community","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Community"},"example":{"name":"New Community","lat":35.1234567,"long":-96.1234567,"owner":{"id":1},"county":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/communities/{id}":{"get":{"summary":"get single community","description":"Gets a single community by ID","tags":["communities"],"security":[{"bearerAuth":["view_communities","manage_communities","add_communitiies"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"community ID"}],"responses":{"200":{"description":"a community","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Community"}}}}}},"put":{"summary":"update community","tags":["communities"],"security":[{"bearerAuth":["manage_communities"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"community ID"}],"requestBody":{"description":"community","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Community"},"example":{"name":"Update Community","lat":35.1234567,"long":-96.1234567,"owner":{"id":1},"county":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete community","tags":["communities"],"security":[{"bearerAuth":["manage_communities"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"community ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}},"/api/v1/counties":{"get":{"summary":"counties list page","description":"Gets the list of all counties in the application","tags":["counties"],"security":[{"bearerAuth":["view_communities","manage_communities","add_communitiies"]}],"responses":{"200":{"description":"the list of counties","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/County"}}}}}}}},"/api/v1/documents":{"get":{"summary":"documents list page","description":"Gets the list of all documents in the application","tags":["documents"],"security":[{"bearerAuth":["view_documents","manage_documents","add_documents"]}],"responses":{"200":{"description":"the list of documents","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}},"post":{"summary":"create document","tags":["documents"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"requestBody":{"description":"document","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Document"},"example":{"display_name":"New_Document.jpg"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/documents/{id}":{"get":{"summary":"get single document","description":"Gets a single document by ID","tags":["documents"],"security":[{"bearerAuth":["view_documents","manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"document ID"}],"responses":{"200":{"description":"a document","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Document"}}}}}},"put":{"summary":"update document","tags":["documents"],"security":[{"bearerAuth":["manage_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"document ID"}],"requestBody":{"description":"document","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Document"},"example":{"display_name":"New_Document.jpg"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete document","tags":["documents"],"security":[{"bearerAuth":["manage_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"document ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}},"/api/v1/documents/{id}/upload":{"post":{"summary":"upload document","tags":["documents"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"document ID"}],"requestBody":{"description":"document","required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/metadata":{"get":{"summary":"metadata list page","description":"Gets the list of all metadata in the application","tags":["metadata"],"security":[{"bearerAuth":["view_documents","manage_documents","add_documents"]}],"responses":{"200":{"description":"the list of metadata","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Metadata"}}}}}}},"post":{"summary":"create metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"requestBody":{"description":"metadata","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"},"example":{"title":"New Metadata","author":"Lastname, Firstname","publisher":"Kansas State University, The Chapman Center for Rural Studies","date":"2025-02-01T00:00:00.000Z","abstract":"This paper has an abstract","citation":"Firstname Lastname, New Metadata, 2025-02, ...","copyright_id":1,"keywords":"Keyword1 Keyword2 Keyword3","owner":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/metadata/{id}":{"get":{"summary":"get single metadata","description":"Gets a single metadata item by ID","tags":["metadata"],"security":[{"bearerAuth":["view_documents","manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"responses":{"200":{"description":"a metadata item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"}}}}}},"put":{"summary":"create metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"requestBody":{"description":"metadata","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"},"example":{"title":"Update Metadata","author":"Lastname, Firstname","publisher":"Kansas State University, The Chapman Center for Rural Studies","date":"2025-02-01T00:00:00.000Z","abstract":"This paper has an abstract","citation":"Firstname Lastname, Update Metadata, 2025-02, ...","copyright_id":1,"keywords":"Keyword1 Keyword2 Keyword3","owner":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}},"/api/v1/metadata/{id}/add_document":{"post":{"summary":"add document to metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"requestBody":{"description":"document ID","required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"document id"}},"example":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"}}}},"/api/v1/metadata/{id}/remove_document":{"post":{"summary":"remove document from metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"requestBody":{"description":"document ID","required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"document id"}},"example":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"}}}},"/api/v1/metadata/{id}/add_community":{"post":{"summary":"add community to metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"requestBody":{"description":"community ID","required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"community id"}},"example":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"}}}},"/api/v1/metadata/{id}/remove_community":{"post":{"summary":"remove community from metadata","tags":["metadata"],"security":[{"bearerAuth":["manage_documents","add_documents"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"metadata ID"}],"requestBody":{"description":"community ID","required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"community id"}},"example":{"id":1}}}}},"responses":{"201":{"$ref":"#/components/responses/Success"}}}},"/api/v1/roles":{"get":{"summary":"roles list page","description":"Gets the list of all roles in the application","tags":["roles"],"security":[{"bearerAuth":["manage_users"]}],"responses":{"200":{"description":"the list of roles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}}},"/api/v1/users":{"get":{"summary":"users list page","description":"Gets the list of all users in the application","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"responses":{"200":{"description":"the list of users","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"post":{"summary":"create user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"requestBody":{"description":"user","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"newuser","roles":[{"id":6},{"id":7}]}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/users/{id}":{"get":{"summary":"get single user","description":"Gets a single user by ID","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"responses":{"200":{"description":"a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"put":{"summary":"update user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"requestBody":{"description":"user","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"updateduser","roles":[{"id":6},{"id":7}]}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"responses":{"AuthToken":{"description":"authentication success","content":{"application/json":{"schema":{"type":"object","required":["token"],"properties":{"token":{"type":"string","description":"a JWT for the user"}},"example":{"token":"abcdefg12345"}}}}},"Success":{"description":"success","content":{"application/json":{"schema":{"type":"object","required":["message","id"],"properties":{"message":{"type":"string","description":"the description of the successful operation"},"id":{"type":"integer","description":"the id of the saved or created item"}},"example":{"message":"User successfully saved!"}}}}},"ValidationError":{"description":"model validation error","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"the description of the error"},"errors":{"type":"array","items":{"type":"object","required":["attribute","message"],"properties":{"attribute":{"type":"string","description":"the attribute that caused the error"},"message":{"type":"string","description":"the error associated with that attribute"}}}}},"example":{"error":"Validation Error","errors":[{"attribute":"username","message":"username must be unique"}]}}}}}},"schemas":{"Community":{"type":"object","required":["name","lat","long","county","owner"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"name of the community"},"lat":{"type":"number","description":"the latitude of the community"},"long":{"type":"number","description":"the longitude of the community"},"owner":{"$ref":"#/components/schemas/User"},"county":{"$ref":"#/components/schemas/County"},"createdAt":{"type":"string","format":"date-time","description":"when the community was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the community was last updated"}},"example":{"id":1,"name":"Colony","lat":38.0711049,"long":-95.366637,"owner":{"id":1,"username":"admin"},"county":{"id":1,"name":"Allen","code":"AL"},"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"County":{"type":"object","required":["name","code","seat","population","est_year"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"name of the county"},"code":{"type":"string","description":"2 letter county code","minLength":2,"maxLength":2},"seat":{"type":"string","description":"the county seat"},"population":{"type":"integer","description":"the county's population"},"est_year":{"type":"integer","description":"the year the county was established"},"communities":{"type":"array","items":{"$ref":"#/components/schemas/Community"}},"createdAt":{"type":"string","format":"date-time","description":"when the county was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the county was last updated"}},"example":{"id":1,"name":"Allen","code":"AL","seat":"Iola","popluation":12464,"est_year":1855,"communities":[{"id":1,"name":"Colony","lat":38.0711049,"long":-95.366637}],"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Document":{"type":"object","required":["display_name","size","type"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"display_name":{"type":"string","description":"display name for the document"},"filename":{"type":"string","description":"name of the file itself"},"size":{"type":"integer","description":"size of the file in KB"},"type":{"type":"string","description":"MIME type of the file"},"createdAt":{"type":"string","format":"date-time","description":"when the user was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the user was last updated"}},"example":{"id":1,"display_name":"LT_AL_Elsmore_Nickell.jpeg","filename":"sample.jpg","size":1,"type":"image/jpeg","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Metadata":{"type":"object","required":["title","author","publisher","date","abstract","citation","copyright_id","keywords","owner"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"title":{"type":"string","description":"title of the item"},"author":{"type":"string","description":"the author of the item"},"publisher":{"type":"string","description":"the publisher of the item"},"date":{"type":"string","format":"date","description":"the date the item was published"},"abstract":{"type":"string","description":"the abstract of the item"},"citation":{"type":"string","description":"the citation for the item"},"copyright_id":{"type":"integer","description":"the copyright identifier of the item"},"keywords":{"type":"string","description":"the keywords for the item"},"owner":{"$ref":"#/components/schemas/User"},"communities":{"type":"array","items":{"$ref":"#/components/schemas/Community"}},"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"createdAt":{"type":"string","format":"date-time","description":"when the community was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the community was last updated"}},"example":{"id":1,"title":"Elsmore, Allen County","author":"Nickell, Paige","publisher":"Kansas State University, The Chapman Center for Rural Studies","date":"2017-09","abstract":"This paper shares the history...","citation":"Paige Nickell, Elsmore, Allen County, ...","copyright_id":1,"keywords":"Allen County Danes Elsinore Elsmore Scandinavians twin towns","owner":{"id":1,"username":"admin"},"documents":[{"id":1,"display_name":"LT_AL_Elsmore_Nickell.jpeg","filename":"sample.jpg","size":1,"type":"image/jpeg","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}],"communities":[{"id":1,"name":"Colony","lat":38.0711049,"long":-95.366637,"county":{"id":1,"name":"Allen","code":"AL"}}],"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Role":{"type":"object","required":["role"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"role":{"type":"string","description":"name of the role"},"createdAt":{"type":"string","format":"date-time","description":"when the user was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the user was last updated"}},"example":{"id":1,"role":"manage_users","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"User":{"type":"object","required":["username"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"username":{"type":"string","description":"username for the user"},"createdAt":{"type":"string","format":"date-time","description":"when the user was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the user was last updated"},"roles":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}},"example":{"id":1,"username":"admin","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z","roles":[{"id":1,"role":"manage_users"},{"id":2,"role":"manage_documents"},{"id":4,"role":"manage_communities"}]}}}},"tags":[{"name":"api","description":"API routes"},{"name":"auth","description":"Authentication Routes"},{"name":"index","description":"Index Routes"},{"name":"users","description":"Users Routes"},{"name":"communities","description":"Communities Routes"},{"name":"counties","description":"Counties Routes"},{"name":"documents","description":"Documents Routes"},{"name":"metadata","description":"Metadata Routes"},{"name":"roles","description":"Roles Routes"}]}